.react-select__option--is-selected {
  background-color: #2b2b2b;
}

.react-select__option--is-focused {
  background-color: #3c3c3c;
}

.react-select__option--is-selected:hover {
  background-color: #3c3c3c;
}
