@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap");

.card {
  min-width: fit-content;
  max-width: 720px;
  height: 150px;
  border-radius: 20px;
  box-shadow: 0 0 20px 0px #3f3e3e;
  margin-top: 1vh;
}

.container {
  position: flex;
  flex-direction: row;
  height: 128px;
  min-width: 200px;
  max-width: 700px;
  padding: 10px;
}

.content {
  height: 1vh;
  color: black;
  font-family: "Merriweather", serif;
  display: flex;
  flex: 0.5 0 0;
  flex-direction: column;
  align-items: space-between;
  flex-wrap: wrap;
}

.xl {
  font-size: 2.5rem;
  font-weight: 900;
}

.column {
  margin-top: 0;
  margin-block-start: 0;
}
