@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap");

.container {
  margin-top: 2%;
  position: flex;
  flex-direction: row;
  height: 200px;
  width: 800px;
  background: #fcc93d;
  border-radius: 20px;
  box-shadow: 0 0 20px 8px #3f3e3e;
}

.content {
  height: 100%;
  color: black;
  padding: 5px;
  font-family: "Merriweather", serif;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
}

.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.column {
  height: 100%;
}
