.container {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  height: 6vh;
  width: 90%;
  margin-left: 5%;
  background: #272622;
  border-radius: 20px;
  box-shadow: 0 0 10px 8px #3f3e3e;
  align-items: center; /* Center items vertically */
}

.input {
  background-color: #252523;
  border: none;
  width: 50%; /* Adjust width as needed */
  margin-left: 1%;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
  color: white;
}

.taglineContainer {
  display: flex;
  flex: 1; /* Adjust flex as needed */
}

.taglineInput {
  background-color: #252523;
  border: none;
  width: 100%;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
  color: white;
}

.regionPickerContainer {
  display: flex;
  flex: 1; /* Adjust flex as needed */
  justify-content: flex-end; /* Align to the right */
}

.button {
  background-color: #312f2b;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 0.5rem;
  cursor: pointer;
}

.title {
  text-align: center;
  color: white;
  margin-top: 2%;
  font-size: 2.5rem;
  font-weight: 900;
  width: 100%; /* Ensure it takes full width to center text */
}
