.container {
  margin-top: 2%;
  display: flex;
  position: flex;
  flex-direction: row;
  height: 6vh;
  width: 90%;
  margin-left: 5%;
  background: #272622;
  border-radius: 20px;
  box-shadow: 0 0 10px 8px #3f3e3e;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  transition: color 150ms ease-in-out;
}

.link:hover {
  border: 1px solid teal;
  color: rgb(48, 199, 199);
}

.button {
  background-color: #312f2b;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 0.5rem;
  cursor: pointer;
  right: 0;
}

.input {
  background-color: #252523;
  border: none;
  width: 92%;
  margin-left: 1%;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  color: white;
}

.title {
  text-align: center;
  color: white;
  margin-top: 2%;
  font-size: 2.5rem;
  font-weight: 900;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loading {
  width: 100px;
  height: 100px;
  margin: 110px auto 0;
  border: solid 10px #8822aa;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
